* {
	box-sizing: border-box;
}

body {
	font-family: Segoe UI, sans-serif;
	margin: 0;
	padding: 0;
}

input {
	outline: none;
}

button {
	display: inline;
	padding: 5px;
	background: rgb(255, 229, 158);
	border: none;
}

#top-bar {
	background: rgb(255, 229, 158);
	position: sticky;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	top: 0;
	padding: 0 5% 5px;
	z-index: 3;
}

#acct-nd-cart {
	width: 8%;
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	right: 15px;
	top: 2px;
	z-index: 4;
}

#name-mobile-menu {
	width: 35%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#name-mobile-menu h2 {
	font-weight: 500;
	margin: 0;
	display: inline;
	font-style: italic;
}

#menu-search {
	display: block;
	border-radius: 5px;
	height: 25px;
	width: 38%;
	border: 1px solid grey;
	padding: 5px;
	background: rgb(255, 255, 210);
}

#content-cover {
	transition: 0.5s;
}

#mobile-menu {
	display: none;
}

#close-menu {
	display: none;
}

#menu-options {
	transition: .5s;
	width: 40%;
	display: flex;
	justify-content: space-evenly;
}

#menu-options span {
	transition: 0.5s;
	position: relative;
}

#menu-options:first-child::after {
	content: '';
	width: 100%;
	color: green;
	height: 5px;
}

#img-and-text {
	font-family: Poppins, sans-serif;
	font-weight: 400;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	overflow: hidden;
	padding: 10px 5% 0 5%;
	background: rgb(246, 246, 246);
	flex-wrap: wrap;
}

.text {
	padding-left: 3px;
	text-align: center;
	font-size: 15px;
	background: rgb(250, 250, 250);
}

.img-parents {
	width: 20%;
	min-width: 220.74px;
	overflow: hidden;
	margin-bottom: 20px;
	box-shadow: 7px 7px 9px rgb(230, 230, 230);
}

.img-parents img {
	background: white;
	display: block;
	width: 100%;
	height: 240px;
}

#slideshow-container {
	position: relative;
	background: rgb(255, 255, 210);
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 20px;
}

#slideshow-container h2 {
	font-weight: 400;
	margin: 0;
}

#slideshow-container a {
	font-weight: 300;
	font-size: 20px;
	color: black;
	padding: 5px;
	text-decoration: none;
	position: relative;
}

.underline {
	content: "";
	background-color: rgb(255, 229, 158);
	width: 0;
	height: 2px;
	bottom: 3px;
	left: 0;
	position: absolute;
	transition: 0.5s;
}

#first-underline {
	width: 99.99%;
}

#slideshow {
	width: 100%;
	display: flex;
	overflow: hidden;
	position: relative;
}

#slideshow img {
	min-width: 33.33%;
	height: 250px;
	transition: 0.5s;
}

#items-quick-links {
	display: flex;
	justify-content: space-between;
}

#nav-right, #nav-left {
	background: lightgrey;
	color: white;
	font-weight: bold;
	font-size: 20px;
	position: absolute;
	z-index: 2;
	top: 50%;
	transition: 0.5s;
	height: 30px;
	width: 30px;
	padding: 3px;
	border-radius: 50%;
}

#nav-right {
	right: 5px;
}

#nav-left {
	left: 5px;
}

#nav-left:hover, #nav-right:hover {
	background: rgb(255, 229, 158);
}

#aliens {
	display: flex;
	padding: 0 10%;
	justify-content: space-evenly;
}

#aliens h2 {
	margin: 0;
	padding-top: 0;
}

#aliens img {
	margin-top: 20px;
	width: 300px;
	min-width: 300px;
	height: 250px;
}

#aliens-txt {
	font-family: Poppins, sans-serif;
	margin-top: 20px;
	width: 40%;
}

#ending {
	font-family: Poppins, sans-serif;
	font-weight: 500;
	width: 70%;
	margin: auto;
}

hr {
	height: 1px;
	border: 1px solid lightgrey;
	margin: 15px 5px;
}

#bottom {
	max-width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: space-evenly;
	padding: 0 5%;
	font-size: 0.7em;
	text-align: center;
}

#bottom div {
	min-width: 100px;
}

#bottom p {
	margin: 0;
	padding-top: 0;
	font-weight: bold;
}

#bottom img {
	width: 25px;
}

#legal {
	display: flex;
	flex-direction: column;
}